{
    "rules": {
        "indent": [2, 2, {"SwitchCase": 1}],
        "no-console": 0,
        "func-names":0,
        "no-multi-spaces": [1, {
          "exceptions": {
            "VariableDeclarator": true
          }
        }],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    'ecmaFeatures': {
      'generators': true,
    },
    "extends": ["eslint:recommended"]
}
